@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

header {
    max-width: 100%;
    height: auto;
}

.img2{
    position: relative;
    bottom: 170px;
    
    
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 90px;
   
}

main .post {
    width: 70%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 120px;
    
    

}

main .post-content{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.post-content img{
    position: relative;
    bottom: 10px;
    
}

main .information{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}









aside {
    width: 50%;
    height: 90%;
    position: relative;
    bottom: 60px;
    left: 60px;
    
    
}

aside .sidebar-section {
    margin-bottom: 20px;
    
    

}

aside .list{
    display: flex;
    flex-direction: column;
    
    
}


aside .sidebar-list{
    display: flex;
    flex-direction: row;
    gap:  10px;
   
    
}

aside .content-post{
    padding: 10px;    
}

aside .content-post p{
    font-size: 14px;
    margin-top: 18px;
    
}

aside .info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

aside img .punpun{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 120px;
}

aside .sidebar2{
    display: flex;
    flex-direction: row;
}

aside .content-post2{
    padding: 10px;
}

aside .content-post2 p{
    font-size: 14px;
    margin-top: 18px;
}

aside .info2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
}

aside .info3{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

aside .content-post3{
    padding: 10px;
}

aside .content-post3 p{
    font-size: 14px;
    margin-top: 18px;
}

aside .sidebar3{
    display: flex;
    flex-direction: row;
}




footer {
    background-color: #0A0F29;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 168px;
}
footer p {
    flex-basis: 100%;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li {
    margin-right: 10px;
    font-size: 14px;
    
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }

  footer .footer-links{
    position: relative;
    left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
  }

  footer .copyright{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer .social{
    gap: 90px;
    
  }